//! **************************************************************************
// Written by: Map P.20131013 on Thu Dec 11 13:45:40 2025
//! **************************************************************************

SCHEMATIC START;
COMP "IO_SSD_J1<0>" LOCATE = SITE "B4" LEVEL 1;
COMP "IO_SSD_J1<1>" LOCATE = SITE "A4" LEVEL 1;
COMP "IO_SSD_J1<2>" LOCATE = SITE "D5" LEVEL 1;
COMP "IO_SSD_J1<3>" LOCATE = SITE "C5" LEVEL 1;
COMP "IO_SSD_J2<0>" LOCATE = SITE "A6" LEVEL 1;
COMP "IO_SSD_J2<1>" LOCATE = SITE "B6" LEVEL 1;
COMP "IO_SSD_J2<2>" LOCATE = SITE "E7" LEVEL 1;
COMP "IO_SSD_J2<3>" LOCATE = SITE "F7" LEVEL 1;
COMP "CLK" LOCATE = SITE "C9" LEVEL 1;
COMP "RST" LOCATE = SITE "K17" LEVEL 1;
COMP "IO_LCD_CMD<0>" LOCATE = SITE "M18" LEVEL 1;
COMP "IO_LCD_CMD<1>" LOCATE = SITE "L17" LEVEL 1;
COMP "IO_LCD_CMD<2>" LOCATE = SITE "L18" LEVEL 1;
COMP "IO_LCD_DATA<0>" LOCATE = SITE "R15" LEVEL 1;
COMP "IO_LCD_DATA<1>" LOCATE = SITE "R16" LEVEL 1;
COMP "IO_LCD_DATA<2>" LOCATE = SITE "P17" LEVEL 1;
COMP "IO_LCD_DATA<3>" LOCATE = SITE "M15" LEVEL 1;
COMP "IO_ENC<0>" LOCATE = SITE "K18" LEVEL 1;
COMP "IO_ENC<1>" LOCATE = SITE "G18" LEVEL 1;
COMP "IO_LED<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "IO_BTN<0>" LOCATE = SITE "H13" LEVEL 1;
COMP "IO_LED<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "IO_BTN<1>" LOCATE = SITE "V4" LEVEL 1;
COMP "IO_LED<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "IO_BTN<2>" LOCATE = SITE "D18" LEVEL 1;
COMP "IO_LED<3>" LOCATE = SITE "F11" LEVEL 1;
COMP "IO_BTN<3>" LOCATE = SITE "V16" LEVEL 1;
COMP "IO_LED<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "IO_BTN<4>" LOCATE = SITE "L13" LEVEL 1;
COMP "IO_LED<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "IO_BTN<5>" LOCATE = SITE "L14" LEVEL 1;
COMP "IO_LED<6>" LOCATE = SITE "E9" LEVEL 1;
COMP "IO_BTN<6>" LOCATE = SITE "H18" LEVEL 1;
COMP "IO_LED<7>" LOCATE = SITE "F9" LEVEL 1;
COMP "IO_BTN<7>" LOCATE = SITE "N17" LEVEL 1;
COMP "IO_KDR<0>" LOCATE = SITE "G14" LEVEL 1;
PIN IO_KDR<0>_pin<0> = BEL "IO_KDR<0>" PINNAME PAD;
PIN "IO_KDR<0>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "IO_KDR<1>" LOCATE = SITE "G13" LEVEL 1;
COMP "IO_UDR_RX" LOCATE = SITE "R7" LEVEL 1;
COMP "IO_UDR_TX" LOCATE = SITE "M14" LEVEL 1;
NET "IO_KDR_0_BUFGP/IBUFG" BEL "IO_KDR_0_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "CLK_BUFGP/IBUFG" PERIOD = 20 ns HIGH 40%;
SCHEMATIC END;

