# ==============================================================================
# ARQUIVO DE RESTRIÇÕES (UCF) - Spartan-3E Starter Kit
# ==============================================================================

# CLOCK & RESET
NET "CLK" LOC = "C9" | IOSTANDARD = LVCMOS33;
NET "CLK" PERIOD = 20.0ns HIGH 40%;
NET "RST" LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN;

# TECLADO PS/2
NET "IO_KDR<0>" LOC = "G14" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW; # Clock
NET "IO_KDR<1>" LOC = "G13" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW; # Data
NET "IO_KDR<0>" CLOCK_DEDICATED_ROUTE = FALSE;

# LEDS
NET "IO_LED<7>" LOC = "F9"  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "IO_LED<6>" LOC = "E9"  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "IO_LED<5>" LOC = "D11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "IO_LED<4>" LOC = "C11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "IO_LED<3>" LOC = "F11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "IO_LED<2>" LOC = "E11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "IO_LED<1>" LOC = "E12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "IO_LED<0>" LOC = "F12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;

# BOTÕES
NET "IO_BTN<7>" LOC = "N17" | IOSTANDARD = LVTTL;
NET "IO_BTN<6>" LOC = "H18" | IOSTANDARD = LVTTL;
NET "IO_BTN<5>" LOC = "L14" | IOSTANDARD = LVTTL;
NET "IO_BTN<4>" LOC = "L13" | IOSTANDARD = LVTTL;
NET "IO_BTN<3>" LOC = "V16" | IOSTANDARD = LVTTL | PULLDOWN;
NET "IO_BTN<2>" LOC = "D18" | IOSTANDARD = LVTTL | PULLDOWN;
NET "IO_BTN<1>" LOC = "V4"  | IOSTANDARD = LVTTL | PULLDOWN;
NET "IO_BTN<0>" LOC = "H13" | IOSTANDARD = LVTTL | PULLDOWN;

# ENCODER
NET "IO_ENC<0>" LOC = "K18" | IOSTANDARD = LVTTL | PULLUP;
NET "IO_ENC<1>" LOC = "G18" | IOSTANDARD = LVTTL | PULLUP;

# SERIAL
NET "IO_UDR_RX" LOC = "R7"  | IOSTANDARD = LVTTL;
NET "IO_UDR_TX" LOC = "M14" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;

# LCD
NET "IO_LCD_CMD<0>" LOC = "M18" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
NET "IO_LCD_CMD<1>" LOC = "L17" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
NET "IO_LCD_CMD<2>" LOC = "L18" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
NET "IO_LCD_DATA<0>" LOC = "R15" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
NET "IO_LCD_DATA<1>" LOC = "R16" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
NET "IO_LCD_DATA<2>" LOC = "P17" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
NET "IO_LCD_DATA<3>" LOC = "M15" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;

# ------------------------------------------------------------------------------
# DISPLAY EXTERNO (Conectores J1 e J2)
# ------------------------------------------------------------------------------
NET "IO_SSD_J1<0>" LOC = "B4" | IOSTANDARD = LVCMOS33;
NET "IO_SSD_J1<1>" LOC = "A4" | IOSTANDARD = LVCMOS33;
NET "IO_SSD_J1<2>" LOC = "D5" | IOSTANDARD = LVCMOS33;
NET "IO_SSD_J1<3>" LOC = "C5" | IOSTANDARD = LVCMOS33;

NET "IO_SSD_J2<0>" LOC = "A6" | IOSTANDARD = LVCMOS33;
NET "IO_SSD_J2<1>" LOC = "B6" | IOSTANDARD = LVCMOS33;
NET "IO_SSD_J2<2>" LOC = "E7" | IOSTANDARD = LVCMOS33;
NET "IO_SSD_J2<3>" LOC = "F7" | IOSTANDARD = LVCMOS33;

# TRATAMENTO DE PINOS FANTASMAS
NET "IO_LCD_DATA<*>" IOSTANDARD = LVCMOS33;
NET "IO_LCD_CMD<*>"  IOSTANDARD = LVCMOS33;