//! **************************************************************************
// Written by: Map P.20131013 on Mon Jun 22 16:44:12 2026
//! **************************************************************************

SCHEMATIC START;
COMP "AMP_CS" LOCATE = SITE "N7" LEVEL 1;
COMP "DAC_CS" LOCATE = SITE "N8" LEVEL 1;
COMP "AMP_SHDN" LOCATE = SITE "P7" LEVEL 1;
COMP "LEDS<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "LEDS<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "LEDS<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "LEDS<3>" LOCATE = SITE "F11" LEVEL 1;
COMP "SPI_SCK" LOCATE = SITE "U16" LEVEL 1;
COMP "LEDS<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "SF_CE0" LOCATE = SITE "D16" LEVEL 1;
COMP "LEDS<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "LEDS<6>" LOCATE = SITE "E9" LEVEL 1;
COMP "LEDS<7>" LOCATE = SITE "F9" LEVEL 1;
COMP "SPI_MISO" LOCATE = SITE "N10" LEVEL 1;
COMP "AD_CONV" LOCATE = SITE "P11" LEVEL 1;
COMP "SPI_MOSI" LOCATE = SITE "T4" LEVEL 1;
COMP "CLK" LOCATE = SITE "C9" LEVEL 1;
COMP "FPGA_INIT_B" LOCATE = SITE "T3" LEVEL 1;
COMP "RESET" LOCATE = SITE "L13" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "CLK_BUFGP/IBUFG" PERIOD = 20 ns HIGH 50%;
SCHEMATIC END;

